@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");



.left-container,
.right-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.left-container {
  background: #0f0f0f;
  width: 70%;
  padding-left: 3rem;
}

.right-container {
  background: linear-gradient(-45deg, rgb(61, 32, 78), #564759 70%);
  width: 30%;
}

.icons .fa-brands,
.icons .fa-regular {
  color: #bbb;
  font-size: 1rem;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.content {
  margin-left: 3rem;
}
.intro{
  line-height: 3rem;
}

.content .intro {
  font-size: 1.5rem;
  color: #fff;
}

.content .intro span {
  color: rgb(174, 115, 208);
}

.name {
  font-size: 2.5rem;
  line-height: 0.3rem;
  display: inline-block;
}

.content h1 {
  font-size: 3.5rem;
  color: rgb(174, 115, 208);
  line-height: 0.3;
}

.content .detail {
  font-size: 1.1rem;
  color: #fff;
  max-width: 38rem;
  line-height: 1.6rem;
  font-weight: 450;
  
}

.btn-container button {
  border: 0.1rem solid rgb(196, 155, 221);
  margin-right: 3rem;
  font-size: 1.1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s ease;
}

button:nth-child(1) {
  background: rgb(174, 115, 208);
  color: #262525;
}

button:nth-child(2) {
  background: transparent;
  color: rgb(174, 115, 208);
  margin-left: 2rem;
}

button:nth-child(1):hover {
  background: transparent;
  color: rgb(174, 115, 208);
}

button:nth-child(2):hover {
  /* background: rgb(174, 115, 208); */
  color: #262525;
}

.icons i:hover {
  cursor: pointer;
  background: linear-gradient(#fff, rgb(164, 68, 219));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.design .circle {
  aspect-ratio: 1;
  position: absolute;
  border-radius: 50%;
  top: 60%;
  left: 70%;
  transform: translate(-30%, -50%);
}



.img-circle {
  width: 22rem;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1rem solid white;
  box-shadow: 0 0 0rem #0f0f0f, inset 0 0 1rem #262525, 0 0 0rem rgb(204,158,230),
    inset 0 0 2rem #262525, 0 0 4rem rgba(153, 0, 255,0.3),
    inset 1px 0px 0rem rgb(196, 155, 221);
}

.navlist li a::after,
.navlist .active::after {
  content: "";
  position: absolute;
  background: #fff;
  width: 100%;
  height: 0.1rem;
  left: 0;
  bottom: -5px;
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 0.5s;
}

.navlist li a:hover::after,
.navlist .active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.mobileMenuBtn {
  display: none;
}

.mobileMenuItems {
  display: none;
}



@media (max-width: 700px) {


  .left-container {
    width: 100%;
    padding: 1rem;
    height: auto;
  }

  
  .right-container {
    display: none;
  }

.intro{
  line-height: normal;
}
  .content {
    margin-left: 0;
    text-align: left;
    line-height: 3px;
    
    
    
  }

  .content h1 {
    font-size: 1.4rem;
    margin-top: 0;
    line-height: 0;
    font-weight: 600;

  }

  .name {
    font-size: 1.4rem;
    font-weight: 500;
    

  }

  .content .detail {
    font-size: 1rem;
    max-width: 80%;
    margin-bottom: 3rem;
    

  }

  
  .btn-container button {
    width: 50%;
    
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    margin-left: 45px;
    justify-content: center;
    
  }
  

  #viewProject{
    display: none;

  }
  button:nth-child(2) {
  
  margin-left: 0;
  border: none;
}

  
  .icons {
    gap: 2rem;
    width: 70%;
    
  }

  
  .design .img-circle {
    position: absolute;
    top: 25px;
    right: 10px;
    left: auto;
    margin-top: 1.5rem;
    transform: none;
    width: 90px;
    height: 90px;
    border-width: 6px;
    box-shadow: 0 0 0rem #0f0f0f, inset 0 0 1rem #262525, 0 0 0rem rgb(204,158,230),
    inset 0 0 2rem #262525, 0 0 4rem rgba(6, 1, 10, 0.3),
    inset 1px 0px 0rem rgb(196, 155, 221);
  }

  

 
  .design .circle:nth-child(1) {
    display: none;
  }

 
  .navlist {
    gap: 1rem;
  }

  .navlist {
    display: none;
  }


  .mobileMenuBtn {
    display: flex;
    background: #564759;
  }

  .mobileMenuItems {
    display: flex;
  }

  .mobileMenuItems {
    display: flex;
    gap: 19px;
    border-radius: 0.5px;
    
    
  }
  

  .mobileMenuItems a {
    color: #c1bac3;
    text-decoration: none;
    font-size: 18px;
  }

 

}