

#contact {
  width: 100%;
  min-height: 100vh;
  padding-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;

 
  background: #0f0f0f;
  color: rgb(169, 141, 141);
}


#contact::before {
  content: "";
  position: absolute;
  left: -150px;
  top: 50px;
  width: 350px;
  height: 350px;
  background: rgba(70, 23, 182, 0.3);
  border-radius: 50%;
  filter: blur(120px);
  z-index: 0;
}


#contact::after {
  content: "";
  position: absolute;
  right: -120px;
  bottom: 80px;
  width: 300px;
  height: 300px;
  background: rgba(140, 0, 255, 0.4);
  border-radius: 50%;
  filter: blur(130px);
  z-index: 0;
}



.contactTitle {
  font-size: 60px;
  margin-top: 3REM;
  font-weight: 700;
  text-align: center;
  color: rgb(84, 7, 88);
  padding-bottom: 1px;
  position: relative;
  z-index: 1;
}

.contactDesc {
  font-size: 18px;
  padding-top: 1px;
  text-align: center;
  word-spacing: 2px;
  max-width: 1000px;
  line-height: 1.5;
  color: #934081;
  position: relative;
  z-index: 2;
}


.contactIcons {
  display: flex;
  gap: 40px;
  position: relative;
  z-index: 2;
  margin-top: 20px;
}

.contactIcons i {
  font-size: 30px;
  color: #dd9adecd;
  transition: 0.3s;
}

.contactIcons i:hover {
  color: #4e0a4b;
  transform: scale(1.2);
}



.contactFooter {
  margin-top: 200px;
  font-size: 20px;
  color: #633e69;
  font-weight: 400;
  position: relative;
  z-index: 2;
}

/* Button */
.contactBtn {
  margin-top: 30px;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 400;
  background:rgb(82 53 98);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.contactBtn:hover {
  background: #8e24aa;
}

/* Popup Overlay */
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* Popup box */
.popupForm {
  background: #1b1b1b;
  padding: 25px;
  padding-right: 2.5rem;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.popupForm h3 {
  color: #e2c3f2;
  margin-bottom: 15px;
}


.popupForm input,
.popupForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #7a3ea1;
  border-radius: 6px;
  background: #0f0f0f;
  color: white;
}

/* Submit Button */
.submitBtn {
  width: 100%;
  padding: 10px;
  background: #3f155593;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}




@media (max-width: 700px) {

  #contact {
    gap: 10px;
    min-height: auto;
    
  }


  .contactTitle {
    font-size: 42px;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }


  .contactDesc {
    font-size: 16px;
    max-width: 95%;
    line-height: 1.5rem;
  }


  .contactIcons {
    gap: 25px;
    margin-top: 15px;
  }

  .contactIcons i {
    font-size: 26px;
  }


  .contactFooter {
    margin-top: 20px;
    font-size: 18px;
  }

 
  #contact::before,
  #contact::after {
    width: 220px;
    height: 220px;
    filter: blur(90px);
  }
}
